.blog-post{
    margin-bottom: 55px;
    @include breakpoint(small down) {
        margin: 15px 0;
    }
    background: #f4f4f4;
    a{
        color: #424242;
        &:hover h4{
            color: $pink;
        }
    }
    img{
        width: 100%;
        max-height: 600px;
    }
    h4{
        font-weight:300;
        font-size:19px;
        padding-top: 25px;
        padding-bottom:32px;
        padding-left: 30px;
        padding-right: 30px;
        color:#424242;
        @include breakpoint(medium down) {
            font-size: 18px;
            padding: 15px;
        }
    }
    img{
        @include breakpoint (small down){
            width: 100%;
        }
    }
}

.blog-posts{
    list-style: none;
    list-style-type: none;
    padding:0;
    
    h3{
        padding-left:15px;
        color: $purple;
        font-weight: 300;
        font-size: 28px;
        margin-bottom:30px;
    }
    
}

.big-pad{
    padding: 115px 0 57px 0;
    @include breakpoint(small down) {
        padding: 100px 0 10px 0;
    }
}

.all-blogs{
    margin-bottom:130px;
}

.blog-archive{
    margin:50px 0 100px -20px;
    @include breakpoint (medium down){
        margin: 30px 0 50px 0;
    }
}

.filter a {
    padding: 10px;
    font-family:'museo-slab', serif;
    font-weight: 300;
    font-size:16px;
    color: #000;
    line-height: 45px;
    &:hover{
        color: $pink;
    }
}

.filter img{
    margin: 0 15px;
}

.filter .liquo-active{
    background: #FAFAFA;
    border-radius: 3px;
    border: 1px solid #BDBDBD;
    padding: 10px;
}

.single-post-content{
    margin-top:30px;
    margin-bottom:30px;
    @include breakpoint(medium only) {
      padding: 0 100px;
    }
    @include breakpoint(medium) {
	    margin-bottom:90px;
	  }
    @include breakpoint(large) {
	    margin-top:110px;
	  }
	  .columns {
		  max-width: 690px;
		  width: 100%;
		  margin-left: auto;
		  margin-right: auto;
		  float: none;
	  }
    p{
        font-size: 20px;
        line-height: 28px;
        color: #000;
        font-family: 'futura-pt', serif;
    }
    .testimonial-section{
        p{
            font-size: 20px;
            line-height: 36px;
            font-weight: 100;
            font-family: 'museo-slab', serif;
            color: $purple !important;
        }
    }
    h4{
        font-size: 24px;
        line-height: 28px;
        color: $purple;
        font-family: 'museo-slab', serif;
        font-weight: 100;
        padding: 20px 0;
    }
}

.single-post .testimonial-section{
    p{
        font-size: 20px;
        line-height: 36px;
        font-weight: 100;
        font-family: 'museo-slab', serif;
        color: $purple !important;
    }
    .upside-down {
        top: auto;
        bottom: -395px;
    }
    
}

.single-post{
    .auth-details {
	    margin-top: 50px;
	    margin-bottom: 50px;
      @include breakpoint(medium){
		    margin-top: 100px;
		    margin-bottom: 60px;
	    }
	    @include breakpoint(medium only) {
	      padding: 0 100px;
	    }
	    .columns {
			  max-width: 690px;
			  width: 100%;
			  margin-left: auto;
			  margin-right: auto;
			  float: none;
			  @include breakpoint(560px) { 
					display: -ms-flexbox;
					display: -webkit-flex;
					display: flex;
				
					-ms-flex-align: center;
					-webkit-align-items: center;
					-webkit-box-align: center;
				
					align-items: center;		 
				}   
	    }
	    .author-img {
		    width: 100%;
		    max-width: 210px;
		    margin-bottom: 15px;
			  @include breakpoint(560px) { 
				  margin-bottom: 0;
			    float: left;
			    margin-right: 10%;
			  }
				@media screen and (min-width: 640px) and (max-width: 720px) {
			    max-width: 150px;
				}
	      @include breakpoint(large){
			    margin-right: 80px;
		    }
		    img {
			    width: 100%;
			    height: auto;
			    max-width: 210px;
			    display: block;
			    border-radius: 500px;
		    }
	    }
	    .author-sup {
			  @include breakpoint(560px) { 
			    float: left;
			    max-width: 260px;
				}
				@media screen and (min-width: 640px) and (max-width: 720px) {

				}
		    p {
          color: $purple;
          font-weight:100;
          font-size:24px;
          line-height: 30px;
          padding:0;
          margin:0;
		    }
		    .button {
          margin-top:35px;
          padding: 0 30px;
          line-height: 60px;
          font-size: 24px;
          @include breakpoint(medium only){
	        	font-size: 19px;
	        }
          @include breakpoint(small down){
            margin-left: auto;
            margin-right: auto;
            display: block;
	        }
		    }
	    }
    }
    .social-details {
	    margin-top: 50px;
	    margin-bottom: 50px;
	    @include breakpoint(medium only) {
	      padding: 0 100px;
	    }
	    @include breakpoint(large) {
		  	display: none;
		  }
	    .columns {
			  max-width: 690px;
			  width: 100%;
			  margin-left: auto;
			  margin-right: auto;
			  float: none;

	    }
    }
}

.author{
    .hero-banner{
        h3{
            font-size:42px;
            font-weight:100;
            color: $purple;
            margin-top:20%;
        }
        .all-blogs{
            margin-top:30px;
            color: #000;
            font-family: 'museo-slab', serif;
            font-weight: 100;
        }
    }
}

.single-post .testimonial-section .autoplay-testimonials{
    padding: 60px 0 0px 0;
}

.single-post .testimonial-section .autoplay-testimonials{
    &:before{
        top:-50px;
    }
}

.readmoreblogs{
    @include breakpoint (small down){
        margin: 0 0 50px 0;
    }
}

.searchandfilter ul li li {
    padding: 5px 0;
    display: inline;
    padding: 0 15px;
    @include breakpoint(medium down){
        display:block;
    }
}

.before-filter{
        display: inline-block;
    float: left;
    position: relative;
    top: 8px;
    left: 15px;
}

.filter{
    width: 100%;
    padding: 0 20px;
    float: none;
    display: contents;
}

.searchandfilter li[data-sf-field-input-type=checkbox] label, .searchandfilter li[data-sf-field-input-type=radio] label, .searchandfilter li[data-sf-field-input-type=range-radio] label, .searchandfilter li[data-sf-field-input-type=range-checkbox] label{
    padding-left: 5px !important;
}

.sf-item-0 {
    margin-left: 25px !important;
    @include breakpoint(medium down) {
        margin-left: 0 !important;
    }
}

.searchandfilter ul li li{
    padding: 5px 10px !important;
}

.searchandfilter [type='file'], .searchandfilter [type='checkbox'], .searchandfilter [type='radio'] {
    display: none;
}

.searchandfilter li[data-sf-field-input-type=checkbox] label, .searchandfilter li[data-sf-field-input-type=radio] label, .searchandfilter li[data-sf-field-input-type=range-radio] label, .searchandfilter li[data-sf-field-input-type=range-checkbox] label {
    padding-left: 10px;
    padding: 10px;
    font-family: 'museo-slab', serif;
    font-weight: 300;
    font-size: 16px;
    color: #000;
    line-height: 0;
    &:hover{
        color: $pink;
    }
    &:focus{
        color: $pink;
    }
}

.sf-option-active{
    label{
        color: $pink !important;
        background: #FAFAFA;
    border-radius: 3px;
    border: 1px solid #BDBDBD;
    padding: 10px;
    }
}