#callus{
	cursor: pointer;
}

.call-us-bar{
	background: $pink;
	margin:0;
	font-weight: 500;
	padding: 25px 20px 24px 40px;
	@include breakpoint(small down) {
		    padding: 36px 10px 41px 35px;
	}	
	span{
		color: #fff;
		font-family: 'museo-slab', serif;
		font-size: 22px;
		font-weight: 500;
		@include breakpoint(medium down) {
			font-size: 18px;
		}
	}
	a{
		color:#fff;
		float:right;
		margin: 0;
	}
	.material-icons{
		font-size: 42px;
		line-height: 30px;
		position:relative;
		top: 7px;
	}
	.arrow{
		left: 9px;
		@include breakpoint(medium down) {
			left: 0px;
			font-size:35px;
		}
		@include breakpoint(small down) {
			left: 0px;
			font-size:27px;
		}
	}
	.phone{
		font-size: 32px;
		margin-right:23px;
		@include breakpoint(medium only) {
			margin-right:15px;
			font-size: 28px;
		}
		@include breakpoint(small down) {
			margin-right:5px;
			font-size:21px;
		}
	}
}

#cform{
	display:none;
	background:#fff;
	padding:74px 0 87px 0;
	.wpcf7{
		padding: 0 24%;
		@include breakpoint(medium down){
			padding: 0 10%;
		}
		padding: 0 24%;
		@include breakpoint(small down){
			padding: 0 1%;
		}
		textarea{
			margin: 0px !important;
			padding: 0px !important;
			padding-bottom: 4px !important;
			width:92%;
		}
		textarea,input{
			height: auto;
			border: none;
			box-shadow: none;
			border-bottom: 1px solid #E0DCD8;
			font-family: 'futura-pt', serif;
			font-size: 18px;
			color: black;
			resize: none;
		}
		input {
			padding: 0px 0 17px 0px;
			margin: 20px 0 0px 0;
			width: 90%;
			@include breakpoint(small down) {
				margin: 20px 0;
			}
		}
		.pd{
			margin-top:25px;
			@include breakpoint(small down) {
				margin-top: auto;
				
			}
		}
		.pl{
			margin-left: -25px;
			@include breakpoint(small down) {
				margin-left: auto;
				
			}
		}
		.submitform {
		    background: $pink;
		    padding: 16px 0px !important;
		    border-radius: 5px;
		    color: #fff;
		    font-size: 24px;
			font-weight: 300;
			margin-top: 73px;
			margin-bottom: 0;
			font-family: 'futura-pt', serif;
			font-weight:400;
			width:220px;
			text-align: center;
		}
		::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
		    color: #000;
			opacity: 1; /* Firefox */
			font-size: 18px;
			font-family: 'futura-pt', serif;
		}

		:-ms-input-placeholder { /* Internet Explorer 10-11 */
			color: #000;
			font-size: 18px;
			font-family: 'futura-pt', serif;
		}

		::-ms-input-placeholder { /* Microsoft Edge */
			color: #000;
			font-size: 18px;
			font-family: 'futura-pt', serif;
		}
	}
}


@media only screen and (max-width: 450px){
	.call-us-bar{
		span{
			font-size:13px;
		}
	}
}

@media only screen and (min-width: 450px) and (max-width: 500px){
	.call-us-bar{
		span{
			font-size:15px;
		}
	}
}

.pagename-get-in-touch{
	.call-us-bar{
		display:none;
	}
}