.case-studies{
    margin:50px 0 100px -20px;
    @include breakpoint (medium down){
        margin: 30px 0 50px 0;
    }
    .blog-post{
        a{
            img{
        width: 100%;
    }
        }
    }
}

.tax-work_categories{
    .filter{
        display:none;
    }
}

.single-case-studies{
    .id-tb h4{
        color: #7A776C;
        padding-left: 20px;
        @include breakpoint(small down) {
            padding-left: 0;
        }
    }
    .carousel{
        padding-top: 0;
    }
    .autoplay-imagegallery{
        padding: 85px 0 0 0;
    }
    .explore{
        margin: 180px 0;
        @include breakpoint(medium down) {
            margin: 80px 0;
        }
        h2{
            font-weight:100;
            font-size:42px;
            width: 50%;
            float:left;
            text-align: right;
            @include breakpoint(medium down) {
                font-size: 28px;
            }
        }
        
    }
    .select-wrapper {
    position: relative;
    &:before {
    content: url(../../../eximia/images/explore-arrow.svg);
    font-family: FontAwesome;
    color: #e0dcd8;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    pointer-events: none;
    width: 104%;
    font-size: 40px;
    }
}
    select {
        float: left;
        border: none;
        margin-top: -5px;
        border-bottom: 1px solid #E0DCD8;
        font-size: 42px;
        color: #E0DCD8;
        font-weight: 100;
        background-image: none;
        transition: none;
        padding: 10px 0;
        height: 75px;
        width:50%;
    }
}

.cstudy-single{
        padding: 180px 0;
    h2{
        font-weight: 100;
        color: #292B2D;
        text-align: right;
    }
}