.clients-carousel,
.accred-carousel {
    background: #fafafa;
    margin-top: 43px;
    padding-top: 39px;
    padding-bottom: 0;
    margin-bottom: 0;
    @include breakpoint (medium){
	    margin-bottom: 50px;
	  }
    @include breakpoint (large){
	    margin-bottom: 166px;
	  }
    h3{
        
      color: #6B2D5C;
      //font-size: 28px;
      //font-weight: 300;
      margin-bottom: 50px;
      //margin-left: -25px;
	    @include breakpoint (medium){
	      margin-bottom: 140px;
		  }
    }
    .slick-slider {
	    padding-bottom: 70px;
	    @include breakpoint (medium){
		    padding-bottom: 100px;
		  }
	    @include breakpoint (large){
		    padding-bottom: 220px;
		  }
	    &.slick-dotted {
		    padding-bottom: 55px;
	    }
    }
    ul.slick-dots {
        list-style: none;
        text-align: center;
        margin-top: 90px;
        margin-bottom: -55px;
		    @include breakpoint (medium){
	        margin-top: 170px;
			  }
        li {
            display: inline-block;
            text-align: center;
            &:focus{
                outline: none;
            }
            button {
                font-size: 50px;
                background: grey;
                max-height: 4px;
                color: transparent;
                max-width: 30px;
                width:31px;
                height:3px;
                margin-right:6px;
                &:focus{
                    outline: none;
                }
            }
        }
        .slick-active{
            button{
                background: $pink;
            }
        }
    }
    .slick-slide{
        &:focus{
            outline: none;
        }
    img{
        margin-left: auto;
        margin-right: auto;
        &:focus{
            outline: none;
        }
    }
}
}

.accred-carousel {
	margin-bottom: 0px;
  @include breakpoint (medium){
		margin-bottom: 75px;
	}
	.row {
		//padding: 0 50px;
    @include breakpoint (large){
	  	padding: 0;
	  }
	}
	.slick-list {
		padding: 0 !important;
	}
	.slick-track {
    display: flex;
    justify-content: center;
    .slick-slide {
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    height: auto;
    }
	}
	h3 {
		margin-left: 0;
	}
}