.cc-window{
    width: 40% !important;
    top: 100px !important;
    background-color: $pink !important;
    max-width: 960px !important;
    @include breakpoint(small down) {
        width: 100% !important;
    }
    #cookieconsent:desc{
        color: #fff !important;
    }
    span{
        color: #fff !important;
    }
    .cc-link{
        display: none;
    }
    .cc-btn{
        background-color: $pink !important;
        color: #fff !important;
    }
    .cc-message{
        float:left;
        width: 80%;
        display: inline-block !important;
        font-size:14px;
        line-height: 40px;
        @include breakpoint(small down) {
            line-height: 20px;
        }
        
    }
    .cc-compliance{
        float:left;
        width: 50px;
        display: inline-block !important;
        @include breakpoint(small down) {
    position: absolute;
    right: 40px;
        }
    }
}
        .cc-window.cc-floating{
         flex-direction: row !important;
         padding: 10px !important;   
        }

        .cc-banner .cc-btn:last-child{
            min-width: 60px !important;
            max-width: 60px !important;
        }