.footer{
	padding-top: 20px;
	padding-bottom: 15px;	
	@include breakpoint (medium){
		padding-bottom: 30px;	
	}
}

footer {
    overflow: hidden;
    background: #292B2D;
    color: #fff;
    .row{
        &:nth-child(1){
            @include breakpoint(medium down){
                padding: 0 30px;
            }
        }
    }
    .f-3{
        @include breakpoint(medium down) {
            padding: 0 35px;
            margin-top: 20px !important;
        }
        @include breakpoint(small down) {
            padding: 0 35px;
            margin-top: 20px !important;
        }
    }


    .custom-width{
        width:19.5% !important;
        @include breakpoint(medium down) {
            width: 50% !important;
            padding:0 50px;
        }
    }
    .custom-width-2{
        width: 19.5%;
        @include breakpoint(medium down) {
            width: 50% !important;
            padding:0 50px;
        }
    }

    .follow-col{
        position: relative;
        h5{
            margin-bottom: 10px;
        }
        @include breakpoint(medium down) {
            left: auto;
            padding: 0 50px;
            margin-top:20px;
        }
        @include breakpoint(small down) {
            left: auto;
            padding: 0px;
            margin-top:0px !important;
        }
    }

    .material-icons {
        position: relative;
        top: 5px;
        margin-right: 8px;
        line-height:0;
    }
    h5 {
        color: #fff;
        font-weight: 100;
        font-size: 22px;
        margin-bottom: 2px;
        padding: 0;
        @include breakpoint(small down) {
            font-size:15px;
        }
    }
    .expanded{
        padding:0 30px;
    }
    li{
        font-size: 16px;
    font-family: 'futura-pt', serif;
    padding: 0;
    margin-bottom: -2px;
    @include breakpoint(medium down) {
            font-size:14px;
        }
}
    hr {
        width: 100%;
        max-width: 100% !important;
        margin: 25px 0 14px 0px;
        border-color: rgba(216, 216, 216, 0.5);
        opacity: 0.3;
    }
    a{
        color:#fff;
        &:hover{
            color:$pink;
        }
         @include breakpoint(small down) {
            font-size:12px;
        }
    }
    ul{
        list-style-type:none;
        padding: 0;
        margin: 0;
    }
    .social-links{
        display: inline;
        font-size: 22px;
         @include breakpoint(small down) {
            font-size:18px;
        }
        li{
            display: inline;
            padding:0 13px;
            @include breakpoint(small down) {
                padding: 0 2px;
            }
            &:nth-child(1){
                padding: 0 10px 0 0;
                 @include breakpoint(small down) {
                    padding: 0 2px 0 0;
                }
            }
            a{
                font-size:25px;
                 @include breakpoint(small down) {
                    font-size:18px;
                }
            }
        }
    }
    .button {
        margin-top: 15px;
        font-size: 15px;
        padding: 20px 10px 20px 15px;
        width: 103.5%;
        background: transparent !important;
        border: 1px solid #585858;
        text-align: left;
        font-family: 'museo-slab', serif;
        font-weight: 100;
        border-radius: 3px;
        color: #fff;
        margin-left: -20px;
        @include breakpoint(medium down) {
            font-size: 10px;
            padding: 20px 0px 20px 5px;
        }
        .mailcon{
        @include breakpoint(medium down) {
            margin-right: 0;
        }
        }
    }
    .bottom-footer {
    .large-5{
        padding-left: 40px;
        width: auto !important;;
    }
    .large-7{
        font-weight: 100;
        padding-left: 6px;
    }
    a {
        padding: 0 13px;
        @include breakpoint(medium down) {
            padding: 0 5px 0 0!important;
        }
    }
     p{
        font-size: 10px;
        color: #d8d8d8;
        margin-bottom: 0;
        font-family: 'futura-pt', serif;
        font-weight: 400;
    }
    li{
        display: inline;
        font-weight: 100;
        font-family: 'museo-slab', serif;
        &:after{
            content: "|"
        }
        &:nth-last-child(1){
            &:after{
                display:none;
                padding: 0 5px;
            }
        }
        &:nth-child(1){
            &:before {
                content: "|";
                padding-left:9px;
            }
        }
    }
}
}

.dropdown-toggle{
    &:after{
        content: "\f0da";
        font-family: 'fontawesome';
        transform: rotate(90deg);
        position: relative;
        left: 8px;
        top: 1px;
    }
}

/*Responsive*/

@media only screen and (min-width: 1025px) and (max-width: 1440px){
    footer{
        padding-left: 15px;
        padding-right: 15px;
        .p-0,.p-40{
            padding: auto;
        }
        .m-0{
            margin: auto;
        }
        .custom-width{
            width: 19.5%;
        }
        .bottom-footer {
            padding-left: 0;
            padding-right: 0;
            .large-5 {
            padding-left: 0px;
            width: 19.5%;
            float: left;
            }
        }
    }
}

@media only screen and (max-width: 1025px){
    footer{
        .button{
            width:103.5%;
            margin-left: 0;
        }
        .follow-col{
            position: inherit;
        }
        .p-0,.p-40{
            padding: auto;
        }
        .m-0{
            margin: auto;
        }
        .custom-width{
            width: auto;
        }
        .bottom-footer {
            padding: 0 15px;
            .large-5 {
                padding:10px 15px;
                width: auto;
                float: left;
            }
            li{
                &:nth-child(1){
                    &:before{
                        display: none;
                    }
                }
            }   
        }
    }
}



@media only screen and (min-width: 1024px) and (max-width: 1140px){
    footer{
        .custom-width {
            width: 20% !important;
        }
        .custom-width-2{
            width: 20%;
        }
        .button{
            font-size: 12px;
        }
        .bottom-footer{
            a{
                font-size:12px;
            }
        }
    }
}