.carousel{
    background: #fff;
    padding-top: 46px;
    padding-bottom: 36px;
    .carousel-row{
        padding: 0 150px;
        @include breakpoint(medium down) {
            padding: 0 75px;
        }
        @include breakpoint(small down){
            padding:0;
        }
    }
    img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    vertical-align: middle;
    height: auto;
    max-width: 100%;
    }
    ul.slick-dots {
        list-style: none;
        text-align: center;
        margin-top: 20px;
        @include breakpoint(large) {
        	margin-top: 180px;
        }
        li {
            display: inline-block;
            padding: 0 5px;
            text-align: center;
            &.slick-active{
                button{
                    background: $pink;
                }
            }
            button {
                width:31px;
                height:3px;
                font-size: 50px;
                background: #ADA59A;
                max-height: 3px;
                color: transparent;
            }
        }
    }
    .slick-slide {
	    &:focus,
	    &:active {
		    outline: 0;
	    }
    }

}

.autoplay-imagegallery {
    background: #FAFAFA;
    // box-shadow: inset rgba(0,0,0,0.5) 1px -20px 4px -19px;
}