    .cstudy{
        .padme{
            @include breakpoint(small down) {
                margin-bottom: 40px;
            }
        }
        #clientlogo{
            max-width: 130px;
            margin-top: 50px;
            height: auto;
            width: auto;
            @include breakpoint(medium down) {
                margin-top: 10px;
            }
        }
    }

    .flip{
        @include breakpoint(small down){
            flex-direction: column-reverse;
            display: flex;
        }
    }

    .hero-banner{
        background: white;
        background-image: linear-gradient(180deg, #F4f4f4 86%, #ffffff 50%);
        width: 100%;
        padding-top:174px;
        text-align: center;
        font-family: "museo-slab", serif;
        font-weight: 100;
        @include breakpoint(medium down) {
            padding-top:75px;
        }
        h1{
            font-size: 42px;
            color: #6B2D5C;
            font-weight: 100;
            @include breakpoint(medium down) {
                font-size: 30px;
            }
        }
        h2{
            font-size:28px;
            color: #292B2D;
            font-weight: 100;
            padding:16px 50px;
            margin-bottom: 93px;
            @include breakpoint(medium down) {
                font-size:22px;
            }
        }
        h4{
            font-family: "museo-slab", serif;
            font-weight: 300;
            font-size:28px;
            color: $pink;
            text-align: left;
        }
        img{
          width:100%;
          @include breakpoint(medium) {
            width:60%;
          }
          @include breakpoint(large) {
            width: auto;
          }
        }
    }

    .textcol{
        padding: 95px 0 70px 0;
        @include breakpoint(medium down) {
            padding: 30px 15px;
        }
        @include breakpoint(small down) {
            padding: 30px 15px 0 15px;
        }
        @include breakpoint(xxlarge up) {
            padding-top: 95px;
            padding-right: 31px;
            padding-left: 18px;
        }
    }

    .diff-padd{
        padding: 0px 0 0 0;
        text-align: left;
        // margin-top: -27px;
        display: inline-block;
        background-image: linear-gradient(180deg, #F4f4f4 100%, #fff 50%);

        img{
            float:left !important;
            @include breakpoint(medium down){
                max-width:50%;
            }
        }
        
        .textleft{
                @include breakpoint(small down){
                flex-direction: column-reverse;
                display: flex;
            }

        }

        .no-padding{
            img{
                padding: 0;
                float:right;
                max-width:100%;
            }
        }

        img{
            float:right;
            padding: 0 0 34px 0;
            @include breakpoint(xxlarge down) {
                object-fit: cover;
                width:100%;
                height: 100%;
            }
            @include breakpoint(small down) {
                width:100%;
                margin-top:0px;
            }
        }
        p{
            font-family: 'futura-pt', serif;
            font-weight: 400;
            color: #000;
            text-align:left;
            font-size:19px;
            line-height: 28px;
            @include breakpoint(medium down) {
                font-size: 15px;
                line-height: 20px;
            }
            @include breakpoint(small down) {
                font-size: 15px !important;
            }
        }
        h1{
            font-size:63px;
            text-align: left;
            margin-top:-2px;
            span{
                color: $pink;
            }
            @include breakpoint(medium down) {
                font-size: 30px;
            }
            @include breakpoint(small down) {
                font-size: 35px !important;
            }
        }
        hr{
            margin: 10px 0 43px 0;
            @include breakpoint(medium down){
                margin: 10px 0 15px 0;
            }
            @include breakpoint(small down){
                margin: 10px 0 15px 0;
            }
        }
    }

    .white-split{
        height:5vh;
    }

    .single-post{
        // .hero-banner{
        //     h3{
        //         font-weight:100;
        //         font-family: 'museo-slab', serif;
        //         color: $purple;
        //         @include breakpoint(small down) {
        //             text-align: left;
        //         }
        //     }
        //     p{
        //         font-weight: 100;
        //         font-family: 'museo-slab', serif;
        //         color: #292b2d;
        //         font-size: 22px;
        //         margin: 0;
        //         padding: 0;
        //         &:nth-child(2){
        //             margin-top:40px;
        //         }
        //     }
        // }
    }

    .cstudy{
        // max-height: 550px;
        overflow: hidden;
        @include breakpoint(small down){
            flex-direction: column-reverse;
            display: flex;
            max-height: none;
            overflow: visible;
        }
        
        @include breakpoint(medium only){
            // max-height: 350px;
        }

        .no-padding{
            img{
                float: right !important;
                object-fit: cover;
                width: 100%;
                height: 100%;
                @include breakpoint(medium only){
                    // height: 350px;
                }
            }
        }
    h3{
        color: $purple;
        font-weight: 300;
        font-size: 27px;
        padding: 0;
        margin: 0 0 20px 0px;
        text-align:left !important;
        @include breakpoint(medium down) {
            font-size:18px;
            margin: 0 0 0px 0;
        }
    }
    }

    .pagename-get-in-touch{
        .hero-banner{
            h4{
                line-height: 33px;
            }
        }
        .diff-padd{
            margin-top:0;
            h1{
                margin-top:-22px;
            }
            hr {
                margin: -5px 0 43px 0;
            }
        }
        .cform{
            padding: 68px 0;
            font-family:'futura-pt', serif;
        
            .wpcf7 textarea, .wpcf7 input {
                height: auto;
                border: none;
                box-shadow: none;
                border-bottom: 1px solid #E0DCD8;
            }
        }       
    }

    .page-child{
      .hero-banner{
        h1{
            font-weight: 300 !important;
            margin-bottom: 145px;
            @include breakpoint(medium down){
                margin-bottom:50px;
            }
        }
        margin-bottom: 50px;
        @include breakpoint(large){
	        margin-bottom: 90px;
        }
      }
        
    }