.icon-grid{
    margin-bottom:50px;
    padding-top: 45px;
		@include breakpoint(medium) {
	    margin-bottom:100px;
		}
		@include breakpoint(large) {
	    margin-bottom:150px;
		}
		
		
    h3{
        //font-family: 'museo-slab', serif;
        //font-size:42px;
        //font-weight: 300;
        color: $purple;
        padding: 42px 0;

        @include breakpoint(medium only) {
            text-align:left;
        }
        
    }

    .icon-title{
        font-size:18px !important;
        padding: 40px 0px 0 !important;
    }

    p{
        font-family: 'futura-pt', serif;
        line-height: 27px;
        font-size: 18px;
        color: #000;
        padding-right: 10px;
        @include breakpoint(medium only) {
            text-align:left;
            padding:0;
        }
    }
    img{
        @include breakpoint(medium only) {
            margin: 0;
        }
    }
    .iconbox{
        @include breakpoint(small down) {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}

