i.ci {
    position: relative;
    left: 0;
    top: 5px;
    color: $pink;
    border-radius: 2px;
    margin-right: 10px;

    &.svg-mail {
        &:before {
            content: "";
            display: inline-block;
            height: 19px;
            width: 20px;
            background-color: #fff;
            background-repeat: no-repeat;
            background-position: center center;
            background-image: url('../../../eximia/images/email.svg');
        }
    }
    &.svg-arrow-down {
        &:before {
            content: "";
            display: inline-block;
            height: 14px;
            width: 23px;
            background-color: #fff;
            background-repeat: no-repeat;
            background-position: center center;
            background-image: url('../../../eximia/images/arrow.svg');
        }
    }
    &.svg-mail {
        &:before {
            -webkit-mask-image: url('../../../eximia/images/email.svg');
            background-image: url('../../../eximia/images/email.svg');
            mask-image: url('../../../eximia/images/email.svg');
        }
    }
    &.svg-arrow-down {
        &:before {
            -webkit-mask-image: url('../../../eximia/images/arrow.svg');
            background-image: url('../../../eximia/images/email.svg');
            mask-image: url('../../../eximia/images/arrow.svg');
        }
    }
}