/*
|--------------------------------------------------------------------------
| Site Nav
|--------------------------------------------------------------------------
|
*/
// Burger parts
//
// (---) top    -> &::before
// [---] middle -> &
// (---) bottom -> &::after


// Vendor prefixes
$sass-burger-add-vendor-prefixes: true !default;

// Burger
@mixin burger($width: 30px, $height: 5px, $gutter: 3px, $color: #000, $border-radius: 0, $transition-duration: .3s) {
    $burger-height: $height !global;
    $burger-gutter: $gutter !global;
    position: relative;
    margin-top: $height + $gutter;
    margin-bottom: $height + $gutter;

    @if $sass-burger-add-vendor-prefixes {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

    user-select: none;

    // 1. Fixes jagged edges in Firefox, see issue #10.
    &, &::before, &::after {
        display: block;
        width: 20px;
        height: $height;
        background-color: #292B2D;
        outline: 1px solid transparent; // 1
        @if $border-radius != 0 {
            border-radius: $border-radius;
        }

        @if $sass-burger-add-vendor-prefixes {
            -webkit-transition-property: background-color, -webkit-transform;
            -moz-transition-property: background-color, -moz-transform;
            -o-transition-property: background-color, -o-transform;
        }
        transition-property: background-color, transform;

        @if $sass-burger-add-vendor-prefixes {
            -webkit-transition-duration: $transition-duration;
            -moz-transition-duration: $transition-duration;
            -o-transition-duration: $transition-duration;
        }
        transition-duration: $transition-duration;
    }

    &::before, &::after {
        position: absolute;
        content: "";
    }

    &::before {
        top: -8px;
        background: #292B2D;
    }

    &::after {
        top: $height + $gutter;
        background: #292B2D;
    }
}


// Select parts of the burger
@mixin burger-parts {
    &, &::before, &::after {
        @content;
    }
}

@mixin burger-top {
    &::before {
        @content;
    }
}

@mixin burger-middle {
    & {
        @content;
    }
}

@mixin burger-bottom {
    &::after {
        @content;
    }
}


// Burger animations
@mixin burger-to-cross($color: auto) {
    & {
        background-color: transparent;
    }
    @if ($color != auto) {
        &::before, &::after {
            background-color: $color;
        }
    }
    &::before {
        @if $sass-burger-add-vendor-prefixes {
            -webkit-transform: translateY($burger-gutter + $burger-height) rotate(45deg);
            -moz-transform: translateY($burger-gutter + $burger-height) rotate(45deg);
            -ms-transform: translateY($burger-gutter + $burger-height) rotate(45deg);
            -o-transform: translateY($burger-gutter + $burger-height) rotate(45deg);
        }
        transform: translateY($burger-gutter + $burger-height) rotate(45deg);
    }
    &::after {
        @if $sass-burger-add-vendor-prefixes {
            -webkit-transform: translateY(-($burger-gutter + $burger-height)) rotate(-45deg);
            -moz-transform: translateY(-($burger-gutter + $burger-height)) rotate(-45deg);
            -ms-transform: translateY(-($burger-gutter + $burger-height)) rotate(-45deg);
            -o-transform: translateY(-($burger-gutter + $burger-height)) rotate(-45deg);
        }
        transform: translateY(-($burger-gutter + $burger-height)) rotate(-45deg);
    }
}

$logo-height:   38px;

.c-site-nav {
    position: fixed;
    background: #fff;
    width: 100%;
    padding: 48px 50px 48px 15px;
    z-index: 9;

    @include breakpoint(medium down){
        position: fixed;
        background: #fff;
        width: 100%;
        padding: 35px 40px 35px 15px;
        z-index: 9;
    }

    .page-template-page-homepage & {
        @media only screen and (min-width: 64.063em) {
            background-color: transparent;
		    will-change: opacity;
			opacity: 0;
        }
    }


    @media only screen and (min-width: 40.063em) and (max-width: 64em) {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .fixed-nav & {
        padding-top: 6px;
        padding-bottom: 6px;
        background-color: #fff;
    }


  /**
   * Navigation menu items.
   */
    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        color: color(white);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 200;
        width: 100%;
        text-align: center;
        height: 70vh;
        margin-top: 80px;
        font-size: 20px;
        visibility: hidden;
        opacity: 0;
        overflow: auto;

        @media only screen and (min-width: 64.063em) {
            width: auto;
            height: 24px;
            text-align: left;
            position: relative;
            display: flex;
            margin-left: auto;
            margin-top: -2px;
            font-size: 16px;
            visibility: visible;
            opacity: 1;
            overflow: visible;
        }

        .nav-active & {
            visibility: visible;
            opacity: 1;
        }
    }

    &__item {
        padding: 8px 0;

		@media only screen and (min-width: 966px) {
            display: flex;
            padding: 0;
            margin-left: 20px;
            margin-right: 0;
            display: block;
            flex-direction: row;

            &:first-of-type {
                margin-left: 0;
            }

            &:last-of-type {
                margin-right: 0;
            }
        }
        
        @media only screen and (min-width: 1125px) {
            margin-left: 24px;
        }


        &.admin-mobile {
          @media only screen and (min-width: 64.063em) {
              display: none;
          }
        }
    
        &.desktop-hide {
          @media only screen and (min-width: 64.063em) {
              display: none;
          }
        }

        &.has-dropdown {
            margin-right: 10px;
            .dropdown-toggle {
                display: flex;
                justify-content: center;
                width: 100%;

                @media only screen and (min-width: 64.063em) {
                    align-items: center;
                    justify-content: unset;
                    width: initial;
                }

                .c-icon-caret-highlight {
                    top: 7px;
                    left: 10px;

                    @media only screen and (min-width: 64.063em) {
                        left: 5px;
                        top: -1px;
                    }
                }
            }

            &.dd-is-active {
                .c-icon-caret-highlight {
                    transform: rotate(180deg);
                }
            }

            &:hover {
                .dropdown-menu {
                        opacity: 1;
                        visibility: visible;
                        margin-left: -12px;
                        margin-top: 10px;
                }
            }

            .dropdown-menu {
                height: 0;
                position: relative;
                margin: 0;
                list-style: none;
                overflow: hidden;
                font-size: 18px;
                height: 100%;
                @media only screen and (min-width: 64.063em) {
                    overflow: auto;
                    height: auto;
                    display: block;
                    visibility: hidden;
                    opacity: 0;
                    background-color: #fff;
                    font-size: inherit;
                    position: fixed;
                    margin-top: 13px;
                }
                li {
	                padding: 5px 0;
                }

                a {
                    color: #a7a7a7;
                    padding: 10px 0;

                    @media only screen and (min-width: 64.063em) {
                        color: color(white);
                    }

                    &:hover{
                        color: $pink !important;
                    }

                }
                
                .active a {
                    color: $pink;
                }
						    
                .c-site-nav__item {
                    margin: 0;
                    
                    &:first-of-type {
	                    border: none;
                    }

                    @media only screen and (min-width: 40.063em) and (max-width: 64em) {
                        border-top: 1px solid #1a4054;
                        &:last-of-type {
                            border-bottom: 1px solid #1a4054;
                        }
                    }

                    a {
                        display: block;
                        @media only screen and (min-width: 40.063em) and (max-width: 64em) {
                            padding: 12px 16px;
                        }
                    }
                }
            }
        }
    }

    &__support {
        display: block;

        @media only screen and (min-width: 64.063em) {
            display: none;
        }
    }

    a {
        color: inherit;

        &:hover {
            text-decoration: none;
            color: $pink;
        }
    }
    .active a {
      color: $pink;
    }


  /**
   * The main site logo exists as part of the nav.
   */
    &__home-link {
        display: block;
        float: left;
        width: 233px;
    }

    &__logo {
        display: block;
        height: 35px;

        @media only screen and (min-width: 40.063em) and (max-width: 64em) {
            height: $logo-height;
        }

      /**
       * Parts of the logo svg.
       */
        .st0 {
            fill: color(white);
        }

        .st1 {
            fill: $pink;
        }

        .st2 {
            fill: #fff;
        }

        .st3 {
            fill: $pink;
        }
    }
}

.dd-is-active {
    .dropdown-menu {
        height: 100% !important;
    }
}

.c-site-nav {
    .company-name {
        opacity: 1;
        visibility: visible;

        .fixed-nav & {
            opacity: 0;
            visibility: hidden;
        }
    }
}


.nav-angle__bar {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
}

.c-menu-button {
    width: 25px;
    height: 25px;
    padding: 0;
    margin-left: auto;
    padding-left: 30px;
    padding-top: 4px;

    @media only screen and (min-width: 64.063em) {
        display: none;
    }
}

.c-burger-icon {
    @include burger(25px, 3px, 5px, $pink);
}

.c-menu-button.is-active .c-burger-icon {
    @include burger-to-cross;
}

@keyframes changeAngle {
    from {bottom: -90px;}
    to {bottom: -125px;}
}

@keyframes changeAngle2 {
    from {bottom: -90px;}
    to {bottom: 0;}
}

ul#menu-primary-navigation-menu li {
    font-weight: 300;
	font-size: 19px;
	margin-top:0;
	&.current_page_item a{
		color: $pink;
	}
}


.c-site-nav a {
	color: #292B2D;
	&:hover{
		color: $pink;
	}
}

@media only screen and (max-width: 1024px) {
	#menu-primary-navigation-menu li {
		background: #fff !important;
	}
	.nav-active .c-site-nav__list {
		visibility: visible;
		opacity: 1;
		background: #fafafa;
		height: 100vh;
		margin: 73px 0;
		padding: 50px 20px;
	}

}

nav.c-site-nav.scrolled {
    box-shadow: #000 0px -11px 30px 0px;
}

.c-site-nav__item.has-dropdown .dropdown-menu .active a {
    color: $pink !important;
}
.has-dropdown.active a{
    color: $pink !important;
}
.c-site-nav__item.has-dropdown a {
    color: #292B2D !important;
}

@media only screen and (max-width: 40.63em) {
    ul#menu-primary-navigation-menu li {
        padding: 0 13px;
        font-weight: 300;
        border-top: 1px solid $pink;
        font-size: 18px;
        margin: 0px;
        padding: 14px 0;
        text-align: left;
        background: #fafafa !important;
        a{
            color: #7A776C;
        }
    } 
    .dropdown-menu{
        top: -10px !important;
        box-shadow: none !important;
        position: relative !important;
        display: none;
        li{
            border: none !important;
            padding:0 15px !important;
            margin:0 !important;
            
            a{
                margin:0 !important;
                padding:0 !important;
            }
        }
    }
    .c-site-nav__item.has-dropdown .dropdown-toggle{
        justify-content: left;
    }
    .active a{
        color: $pink !important;
    }
}

.dropdown-menu{
    top: 40px;
    box-shadow: #777 1px 1px 1px 0px
}

@media only screen and (max-width: 1024px) {
    .has-dropdown:hover .dropdown-menu{
            display:block !important;
    }
}



@media only screen and (min-width:650px) and (max-width: 1024px) {
    ul#menu-primary-navigation-menu li {
        padding: 0 13px;
        font-weight: 300;
        border-top: 1px solid $pink;
        font-size: 18px;
        margin: 0px;
        padding: 14px 0;
        text-align: left;
        background: #fafafa !important;
        a{
            color: #7A776C;
        }
    } 
    .dropdown-menu{
        top: -10px !important;
        box-shadow: none !important;
        position: relative !important;
        display: none;
        li{
            border: none !important;
            padding:0 15px !important;
            margin:0 !important;
            
            a{
                margin:0 !important;
                padding:0 !important;
            }
        }
    }
    .c-site-nav__item.has-dropdown .dropdown-toggle{
        justify-content: left;
    }
    .active a{
        color: $pink !important;
    }
}