ul.tabs{
    margin: 22px 10px 0 15px;
}

.tabrow{   
    margin-top:25px;
}

.tabcontent {
    ul{
        li{
            font-family: 'museo-slab', serif;
            font-size: 24px;
            font-weight: 300;
        p{
            font-family: 'museo-slab', serif;
            font-size: 24px;
            font-weight: 300;
        }
        }
    }
}

.tabs-title>a {
    display: block;
    color: #000;
    background: #FAFAFA;
    height: 100%;
    padding:10px;   
}

.normal-tabs .tabs-title a {
    display: block;
    color: #000;
    background: #FAFAFA;
}

.tabs-title>a:focus, .tabs-title>a[aria-selected='true'] {
    background: #fefefe;
    color: #000;
    outline: none;
}
.tabs {
    margin: auto;
    border: none;
    background: #fff;
    list-style-type: none;
    h4{
	    font-size:26px;
      font-weight: 300;
      font-family: 'museo-slab', serif;
      color: $purple;
	    @include breakpoint(medium down) {
        font-size: 18px;
        margin: 25px 0;
	    }
                
    }
    .pull-left {
        position: absolute;
        left: -25px;
        @include breakpoint(medium down) {
            position: relative;
            left: auto;
        }
    }
    img{
        @include breakpoint(medium down) {
            padding: 0 20%;
        }
    }
    .button{
        @include breakpoint(medium down) {
            margin:0;
        }
    }
}
.tabs-title {
    text-align: center;
    padding: 0 30px;
    svg{
        margin:25px 0;
    }   
}

.tabs-content {
    border: none;
    border-top: 0;
    background: #fff;
    color: #0a0a0a;
    transition: all 0.5s ease;
    margin-bottom:135px;
}

li.tabs-title.is-active {
    background: #fff !important;
    border: 1px solid #979797;
}
.tabs-title.is-active h4{font-weight:500;}

.tabs-panel.is-active {
    display: block;
}

.tabs-panel {
    h4{
      font-weight: 300;
      font-family: 'museo-slab', serif;
      color: $purple;
      margin-top: 130px;
      margin-bottom:40px;
      font-size: 42px;
    }
    p{
      font-weight: 400;
      font-family: 'futura-pt', serif;
      color: #000;
      margin-bottom:30px;
      font-size:20px;
      line-height: 28px;
    }
}

.is-active{
    svg{
        path{
            fill: $pink;
        }
    }
}

.tabcontent{
    text-align: left;
    li{
        list-style-type: none;
        line-height: 32px;
    }
    li:before {
        content: "chevron_right"; /* FontAwesome Unicode */
        font-family: 'Material Icons';
        display: inline-block;
        margin-left: -1.3em; /* same as padding-left set on li */
        width: 1.3em; /* same as padding-left set on li */
        float:left;
        color: $pink;
      }
}

.accordion-item {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

div#deeplinked-tabs {
    @include breakpoint(medium down) {
        padding: 0px 50px;    
        margin-bottom: 80px;
    }
    @include breakpoint(small down) {
        margin-bottom: 60px;
        padding: 0;    
    }
}

.accordion-title{
    padding: 50px;
    &:before{
        color: $pink;
    }
    outline: none;
    &:active{
        outline: none;
    }
}



.normal-tabs-content{
        padding-top:150px !important;
        .pull-left{
            left:-175px;
        }
}

.fontsizes h4{
    font-size: 23px;
}