.team-member{
    margin: 170px auto 50px auto;
    //padding: 0 160px;
    @include breakpoint(medium down){
        padding: 10px 0;
        margin: 50px 0;
    }
    .li-icon{
        float: left !important;
        margin-top: 0;
    }
    .job-role{
        margin-bottom: 25px;
    }
    /*h3{
        font-family: 'museo-slab', serif;
        color: $purple;
        font-size: 42px;
        font-weight: 300;
        line-height: 50px;
        @include breakpoint(medium down) {
            font-size:23px;
            line-height: 30px;
        }
    }*/
    p{
        font-family: 'futura-pt', serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        @include breakpoint(medium down) {
            font-size:16px;
            padding-right:30px;
        }
    }
    img{
        margin-bottom: 60px;
        padding-right: 15px;
        padding-top: 0px;
        @include breakpoint(medium down) {
            float: none;
            margin-bottom: 40px !important;
        }
        @include breakpoint(large up) {
            margin-top: 40px;
        }
    }
    .team-name{
        margin-bottom:0;
        margin-top:-30px;
    }
}

