.testimonial-section{
    padding-top:0;
    background: #fafafa;
    margin-bottom:20px;
    margin-top:40px;
    position: relative;
		.slick-slide {
			&:focus,
			&:active {
				outline: 0;
			}
		}
    h3{
        font-family: 'futura-pt', sans-serif;
        font-weight: 400;
        font-size: 20px;
        color: #292B2D;
    }

    h4{
        color: #E61F63;
        font-weight: 100;
        font-size: 20px;
        line-height: 16px;
    }

    p{
        font-family: 'futura-pt', sans-serif;
        font-weight: 400;
        font-size: 20px;
    }

    .speechmark{
        position: relative;
        top: -30px;
        left: 110px;
        @include breakpoint (small down){
            left: 10px;
        }
    }

    .previous-testimonial{
        position: absolute;
        left: 5%;
        vertical-align: middle;
        top: 200px;
        width: 50%;
        display: inline;
    }

    .next-testimonial {
        position: absolute;
        vertical-align: middle;
        float: right;
        right: 0;
        top: 200px;
        width: 8%;
        display: inline;
    }

    .upside-down{
        top: auto;
        bottom: -26px;
        position: relative;
        transform: rotate(-180deg);
        left: -105px;
        @include breakpoint (medium down){
            bottom: -30px !important;
        }
        left: -105px;

        @include breakpoint (small down){
            left: -10px;
        }
    }
    .autoplay-testimonials{
	    padding-top: 0;
	    margin-bottom: 105px;
	    margin-top: 95px;
        @include breakpoint(small down) {
            padding: 0 25px 0 25px;
        }
        &:before{
            content: url('../../../eximia/images/quote-marks.svg');
            position: absolute;
            top: -130px;
            left: -100px;
            @include breakpoint(small down) {
                top: -130px;
                left: 0;
            }
        }
        &:after{
            content: url('../../../eximia/images/quote-marks.svg');
            position: absolute;
            bottom: -140px;
            transform: rotate(180deg);
            right: -100px;
            @include breakpoint(small down) {
                right: 0;
            }
        }
    }
}

@media only screen and (min-width: 40.063em) and (max-width: 1023px) {
    .testimonial-section .upside-down {
        bottom: -182px;
    }
}

.page-child{
    .testimonial-section{
        margin-bottom: 100px !important;
        margin-top:90px;
    }
    .autoplay-testimonials{
        &:before{
            position: absolute;
				    top: -130px;
				    left: -100px;
            @include breakpoint(small down) {
                top: -120px;
                left: 0;
            }
        }

    }
}