.large-tb{
    margin-top:20px;
    margin-bottom:100px;
    @include breakpoint(small down) {
        margin-top: 0px;
        margin-bottom: 50px;
    }
    span,a,p,h1,h2,h3,h4,h5,h6,strong,small{
        font-family: 'museo-slab', serif;
        font-size: 36px;
        color: $purple;
        font-weight: 300;
    }
}

.standard-tb{
    margin: 50px 0 10px 0;
        font-family: 'futura-pt';
        ul{
        li{
            font-family: 'futura-pt';
        }
    }
    @include breakpoint(small down) {
        margin: 30px 0 0 0;
        
    }
}

.standard-textblock{
padding: 0 15px;
margin: 50px 0;

.standard-tb{
    margin-top: 30px;
    margin-bottom: 100px;
    
    @include breakpoint(medium down) {
        margin-top:30px;
        margin-bottom:50px;
    }
    
    @include breakpoint(small down) {
        margin-top:20px;
        margin-bottom:10px;
    }

    span,p,strong,small{
        font-family: 'futura-pt';
        color: #000;
        font-size: 18px;
    }

    span, strong{
        color: $pink !important;
    }

    h1,h2,h3,h4,h5,h6{
        font-family: 'museo-slab', serif;
        font-size: 28px;
        color: $purple;
    }

}
}

.id-tb{
    margin-top:20px;
    margin-bottom:60px;
    @include breakpoint(medium) {
	    margin-top:60px;
	    margin-bottom:100px;
	  }
    h4{
        font-size: 16px;
        font-weight: 300;
        font-family: 'museo-slab', serif;
        color: #000;
        margin-top: 5px;
        padding-right: 10px;
        float: left;
        @include breakpoint (small only) {
        float:left;            
        }
    }
    p{
        font-family: 'futura-pt';
        color: #000;
        font-size: 20px;
    }
}