.text-left-with-image{

    padding: 60px 0;
    @include breakpoint(large) {
	    padding: 120px 0;
		}
		
    .pad-left{
        padding-left: 115px;
        @include breakpoint(medium down) {
            padding: 15px !important;
        }
    }

    .no-padding{
        padding: 0 !important;
    }

    .no-mobile-padding{
        @include breakpoint(small down){
            padding: 0 !important;
        }
    }
   
    @include breakpoint(medium down){
        //padding:120px 100px 120px 100px;
        //padding-top: 120px;
        //padding-bottom: 120px;
        flex-direction: column-reverse;
        display: flex;
    }
    
    h3{
        font-size:28px;
        color: $purple;
        font-weight: 300;
        margin-bottom: 20px;
    }
    p{
        font-weight: 100;
        font-size: 20px;
        color: black;
        font-family: 'futura-pt', serif;
        font-weight: 400;
        margin-bottom: 0;
        padding-bottom: 40px;
        padding-right: 81px;
        line-height: 26px;
        @include breakpoint(medium down) {
            padding-right:0;
            padding-bottom:20px;
        }
    }
    img{
        margin-top:8%;
        padding-right: 90px;
		    height: auto;
		    width:100%;
        @include breakpoint(medium down) {
          margin-top: 0 !important;
          margin-bottom:25px;
          padding-right: 0;
        }
        @include breakpoint(medium) {
          object-fit: cover;
			    max-height: 330px;
        }
        @include breakpoint(large) {
	        object-fit: unset;
	        max-height: none;
        }
        
    }
}

/*Mobile Styles*/
@media only screen and (max-width: 40em) {
    .text-left-with-image{
        padding: 40px 0 !important;
        img{
            margin-bottom: 20px;
        }
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
    .text-left-with-image {
        img {
            vertical-align: middle;
            height: auto;
            margin-top: 0;
        }
        p{
            padding-right: 0;
        }
    }
}

.full-bleed.text-left-with-image {
    img{
        height: auto;
        margin-top: auto;
        @include breakpoint(medium down) {
            margin-bottom: 0;
        }
    }
    p{
        padding-right: 50px;
    }
    h3{
        padding-right: 50px;
    }
    .pull-right{
        // right: -4%;
        @include breakpoint(medium down) {
            right: 0;
        }
    }
}

