.text-right-with-image{
    padding:50px 0;
    @include breakpoint(medium){
        //padding:120px 100px 120px 100px;
    	padding:0 0 180px 0;

    }
    @include breakpoint(large){
    }
    h3{
        font-size:28px;
        color: $purple;
        font-weight: 300;
        margin-bottom: 15px;
        @include breakpoint (medium down){
            margin-top: 0;
            margin-bottom: 15px;
        }
        @include breakpoint (small down){
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    p{
            font-size: 20px;
            color: black;
            font-family: 'futura-pt', serif;
            font-weight: 400;
            margin-bottom: 0;
            padding-bottom: 40px;
            line-height: 26px;
    }
    img{
        margin-top:8%;
        padding-top: 7px;
    }
    .pad-left{
            padding-left: 65px;
    padding-right: 70px;
        @include breakpoint(medium down) {
            padding: 15px !important;
        }
    }
    .pad-right{
        padding-right: 175px;
        @include breakpoint(medium down) {
            padding: 15px !important;
        }
    }
}

@media only screen and (max-width: 40em) {
    .text-right-with-image{
        padding: 40px 0 !important;
    }
}

@media only screen and (min-width: 1530px) {
    .text-right-with-image{
        img{
            margin-top:55px;
        }
    }
}