.full-width-video{
    // margin: 10px;
}

.video-row{
	padding: 0 140px;
	@include breakpoint(medium down) {
		padding: 10px 50px;
	}
}

.embed-container {
    position: relative;
    padding-bottom: 57%;
    padding-top: 0;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: 100%;
    // border: 1px solid #979797;
    // box-shadow: rgba(0,0,0,0.5) 0px 2px 4px 0px;
    iframe, object, embed { 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
		height: 100%;
		// padding:10px 10px;
    }
}