@import url("https://use.typekit.net/sbz3sqc.css");

body,html{
    font-family: "museo-slab", serif;
	font-style: normal;
	color: #000;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
	font-family: "museo-slab", serif;
	font-style: normal;
	color: $purple;
}

span{
	color: $pink;
}

a{
	color: #000;
	&:hover{
	color: $pink;
	}
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../assets/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../../assets/fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(../../assets/fonts/MaterialIcons-Regular.woff) format('woff'),
    url(../../assets/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}