.wow {
   visibility: hidden;
}

a{
	-o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.right{
	float:right;
	text-align: right;
}

.full{
	width: 100%;
} 

.button{
	background-color: $pink;
	background: $pink;
	border-color: $pink;
	color: #fff;
	font-family: 'futura-pt', sans-serif;
	font-weight: 400;
	font-size:24px;
	border-radius:5px;
	padding: 13px 40px;
	&:hover{
		background-color: #ad104a;
		color: #fefefe;
		border-color: #ad104a;
	}
	&:focus{
		background-color: #ad104a;
		color: #fefefe;
		border-color: #ad104a;
		outline: none;
	}
}
.pull-left{
	position: relative;
	left: -15px;
	@include breakpoint(medium down){
		left: 0;
	}
}
.pull-right{
	right: 0px;
	margin: 0;
	padding: 0;
	@include breakpoint(medium down){
		position: relative;
	}
	img{
		@include breakpoint(medium down) {
			padding: 15px;
		}
	}
}

.no-padding{
	padding:0;
}

.no-mobile-padding{
	padding:0;
	@include breakpoint(medium up){
		padding: 0 15px;
	}
}

.small-centered{
	text-align: center;
}

	.cform{
		background:#fff;
		.wpcf7{
			textarea,input{
				height: auto;
				border: none;
				box-shadow: none;
				border-bottom: 1px solid;
			}
			input{
				padding:10px 0;
				margin:20px 0;
			}
			.submitform {
				    background: #E61E64;
    padding: 16px 0px !important;
    border-radius: 5px;
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    margin-top: 73px;
    margin-bottom: 0;
    font-family: 'futura-pt', serif;
    font-weight: 400;
    width: 220px;
    text-align: center;
			}
			::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
				color: #000;
				opacity: 1; /* Firefox */
			}
	
			:-ms-input-placeholder { /* Internet Explorer 10-11 */
				color: #000;
			}
	
			::-ms-input-placeholder { /* Microsoft Edge */
				color: #000;
			}
		}
	}

	.fw-map{
		background: #f4f4f4;
		h1,h2,h3,h4,h5,h6{
			font-size:28px;
			color: $purple;
			font-family: 'museo-slab', serif;
			padding: 80px 130px;
			font-weight: 300;
			@include breakpoint(medium down) {
				padding: 80px 50px;
			}
		}
	}

	div.filter {
		width: 100%;
		float: left;
		text-align: left;
		    padding: 0 20px;
	}

	.blp{
		border-left: 10px solid $purple;
		padding-left: 140px;
	}
	.blpr{
		padding: 0 9%;
	}

	.dropdown-tab{
    background: #FAFAFA;
    //padding: 30px 25px 30px 25px;
    width: 100%;
		float: left;
		@include breakpoint(small down) {
			margin-top: 15px;
		}
		.tab {
	    padding: 30px 25px 30px 25px;
			@include clearfix;
		}
		h4{
			color: $purple;
			font-weight: 100;
			float: left;
			padding:0;
			margin: 0;
			@include breakpoint(medium only){
				font-size: 17px;
			}
			.fa{
				color: $pink !important;
				margin-right:20px;
			}
		}
		.right{
			float: right;
		}
		.fa{
			color: $pink;
		}
		.hidden-area{
	    padding: 0 25px 30px 25px;
			margin-top: 10px;
			h5{
				font-weight: 100;
				color: $pink;
				font-size: 21px;
				margin-bottom:20px;
				width:85%;
			}
			h6{
				font-weight: 100;
				color: #292B2D;
				font-size: 21px;
				margin:0;
				padding: 0;
			}
			.marketing{
				font-family: 'futura-pt', serif;
				font-weight: 400;
				font-size: 18px;
			}
			p{
				margin-top:40px;
				color: #7A776C;
				font-size: 18px;
				font-family: 'futura-pt', serif;
				width: 55%;
			}
			label{
				color: $purple;
				font-size: 18px;
				font-family: 'futura-pt', serif;
			}
			input {
				&:focus,
				&:active {
					outline: 0;
				}
			}
			input[type='checkbox'] {
				-webkit-appearance:none;
				width:30px;
				height:30px;
				background:white;
				border-radius:5px;
				border:1px solid #979797;
				float: left;
			}
			input[type='checkbox']:checked {
				background: $pink;
			}
			input[type="text"],
			input[type="email"] {
				border: none;
				box-shadow: none;
				background: transparent;
				font-family: 'futura-pt', serif;
				border-bottom: 0.5px solid #e0dcd8;
				font-size: 18px;
				color: #ADA59A;
				padding: 0;
			}

			select {
				border: none;
				border-radius: 0;
				box-shadow: none;
				background: transparent;
				font-family: 'futura-pt', serif;
				border-bottom: 0.5px solid #ADA59A;
				font-size: 18px;
				color: #ADA59A;
				padding: 0;
			}
		}
	}

	body.admin-bar.logged-in {
		margin-top: 32px;
	}

	th{
		padding: 20px 30px;
		border-bottom: 1px solid #f4f4f4;
	}
	td {
		padding: 15px 30px;
		border-bottom: 1px solid #f4f4f4;
	}
	table {
		font-family: 'futura-pt', serif;
		font-weight: 100;
		font-size: 14px;
	}

	.centered{
		text-align: center;
	}

	.cpage div.wpcf7 {
		padding: 100px 20%;
	}

@media only screen and (max-width: 40em) {
	ul#menu-primary-navigation-menu li {
		background: #fff;
		padding: 10px 0;
	}
	footer {
		.button {
		    margin-top: 15px;
		    font-size: 15px;
		    padding: 20px 10px 20px 10px;
		    background: transparent !important;
		    border: 1px solid;
		}
		h5 {
			color: #fff;
			font-weight: 500;
			font-size: 21px;
		}
		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
			margin-bottom: 15px;
		}
		.social-links{
			font-size:19px;
		}
		.button {
			margin-top: 15px;
			font-size: 15px;
			padding: 14px 10px 20px 10px !important;
			background: transparent !important;
			border: 1px solid;
			margin-bottom: -40px !important;
		}
		.bottom-footer p {
			font-size: 9px !important;
		}
		.bottom-footer a {padding: 0 10px;font-size: 12px;}
		.sm-fu{
			margin-top:5px;
		}
		hr{
				width: 100%;
				max-width: 100% !important;
				margin: 10px 0 !important;
		}
	}
	.call-us-bar span {
		color: #fff;
		font-size: 15px;
	}
	#cform{
		padding: 50px 50px !important;
	}
	.all-blogs {
		margin-bottom: 0 !important;
	}
	.pull-left,.pull-right{
		position: relative;
	}
	.text-right-with-image img {
		margin-top: 0px !important;
	}
	
	.testimonial-section {
		padding-top: 0px !important;
		padding-bottom: 0px !important; 
		margin-bottom: 0px !important;
	}

	.clients-carousel ul.slick-dots {
		list-style: none;
		text-align: center;
		margin-top: 40px;
	}

	.clients-carousel h3 {
	    color: #6B2D5C;
	    font-size: 28px;
	    font-weight: 300;
	    margin-bottom: 140px;
	    //margin-left: -25px;
	}

	.text-left-with-image {
		padding: 40px 0;
	}

	.hero-banner h1{
		font-size:23px !important;
	}
	.hero-banner h2 {
		font-size: 15px !important;
		padding: 0px 10px !important;
		margin-bottom: 5px !important;
	}
	.home .hero-banner p{
		display: none;
	}
	
	.hero-banner {
		display: block;
		height: 50%;
		text-align: center !important;
		font-family: "museo-slab", serif !important;
		font-weight: 100 !important;
		//margin-bottom: 0 !important;
	}
	.fw-map h1, .fw-map h2, .fw-map h3, .fw-map h4, .fw-map h5, .fw-map h6 {
		font-size: 25px;
		color: #6B2D5C;
		font-family: 'museo-slab', serif;
		padding: 40px 20px;
		font-weight: 300;
	}
	.home .hero-banner img {
		width: 100%;
		padding-top: 7%;
	}
	.embed-container {
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 30px;
		height: 0;
		overflow: hidden;
		max-width: 100%;
		height: 260px;
		margin-top: 350px;
		margin-bottom: -100px;
	}
	.team-member img {
		margin-bottom: 10px !important;
		padding-right:0 !important;
	}
	.team-member a img{
		padding-right:10px !important;
	}
	.team-member h3{
		margin-top:10px;
		font-family: 'museo-slab', serif;
		color: #6B2D5C;
		font-size: 30px !important;
		font-weight: 300;
		border-top: 1px solid #f4f4f4;
	}

	.large-tb span, .large-tb a, .large-tb p, .large-tb h1, .large-tb h2, .large-tb h3, .large-tb h4, .large-tb h5, .large-tb h6, .large-tb strong, .large-tb small {
		font-size: 22px !important;
	}
	.large-tb{
		//margin-bottom:60px !important;
	}
	.row > .embed-container {
		margin: 0;
	}
	.blog-posts{
		margin: 0 !important;
		li {
			margin: 10px 0;
			h4{
				font-size: 18px !important;
			}
		}
		.column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
			float: left !important;
		}
	}
	.single-post .hero-banner p {
		font-weight: 100;
		font-family: 'museo-slab', serif;
		color: #292b2d;
		font-size: 22px;
		margin: 0;
		padding: 0;
	}
	.filter a {
		font-size: 15px !important;
		border-radius: 5px;
		color: #fff;
		display: block;
		margin: 4px 15px !important;
		&:hover{
		color: $pink;
		}
	}
	.filter img{display:none;}
	.filter .liquo-active {
		background: #FAFAFA;
		border-radius: 3px;
		color: #e71462;
	}
	.slick-slide img {
		margin-left: auto;
		margin-right: auto;
	}
	.pull-left {
		position: relative;
		left: 0;
		padding: 20px 0;
	}
}






@media only screen and (min-width: 40.063em) and (max-width: 64em) {


		.bottom-footer a {
			padding: 0 10px;
			font-size: 12px;
		}

		.bottom-footer p {
			font-size: 11px !important;
		}

		#cform{
			padding: 50px 30px !important;
		}

		.icon-grid img{
			width:30%;
			margin-left: auto;
			margin-right: auto;
			display:block;
		}

		.icon-title{
			text-align: center;
		}

		.slick-slide img{
			margin-left:auto;
			margin-right:auto;
		}

		.icon-grid p {
			padding: 0px 0 10px 0 !important;
			text-align:center;
		}

		.slick-list{
			padding: 0 !important;
		}

		.large-tb span, .large-tb a, .large-tb p, .large-tb h1, .large-tb h2, .large-tb h3, .large-tb h4, .large-tb h5, .large-tb h6, .large-tb strong, .large-tb small {
			font-size: 26px !important;
		}

		.large-tb{
			margin-bottom:20px !important;
		}

		.row > .embed-container {
			margin: 0;
		}

		.blog-posts{
			margin:0;
			li{
				margin: 10px 0;
					float: left !important;
			}
		}
		.blog-posts .columns:last-child:not(:first-child) {
			float: left !important;
		}
}

.menurow{
	height:100px;
}

.blog-posts .columns:last-child:not(:first-child) {
	float: left !important;
}

.plef{
	padding-left:50px;
}

.p-0{
padding: 0;
}

.p-40{
padding-left: 40px;
}

.m-0{
	margin: 0;
}

.row{
	max-width: 90em;
}

body.admin-bar.logged-in{margin-top: 32px !important;}

.filter-row{
	margin-top: 20px;
}

.nav-active body {
    overflow: hidden;
}

.hidden-area{
	width:100%;
}

.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--pinterest {
  background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--tumblr {
  background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c
}

.resp-sharing-button--reddit {
  background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1
}

.resp-sharing-button--google {
  background-color: #dd4b39
}

.resp-sharing-button--google:hover {
  background-color: #c23321
}

.resp-sharing-button--linkedin {
  background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293
}

.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}

.resp-sharing-button--xing {
  background-color: #1a7576
}

.resp-sharing-button--xing:hover {
  background-color: #114c4c
}

.resp-sharing-button--whatsapp {
  background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851
}

.resp-sharing-button--hackernews {
background-color: #FF6600
}
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 }

.resp-sharing-button--vk {
  background-color: #507299
}

.resp-sharing-button--vk:hover {
  background-color: #43648c
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--tumblr {
  background-color: #35465C;
  border-color: #35465C;
}

.resp-sharing-button--tumblr:hover,
.resp-sharing-button--tumblr:active {
  background-color: #222d3c;
  border-color: #222d3c;
}


.filter a {
		&:hover{
		color: $pink !important;
		}
	}

	a,button,img{
		&:focus{
			outline: 0;
		}
	}

@media only screen and (min-width: 1025px) and (max-width: 1150px) {
	.text-right-with-image .pad-right {
    padding-right: 100px !important;
	}
	.text-right-with-image .pad-left {
    padding-left: 55px !important;
    padding-right: 40px !important;
	}
	.tabs-content img {
    margin-top: 140px;
}
}

@include breakpoint(small down) {
	.full-width-video {
    margin-top: 30px;
	}
	div#deeplinked-tabs{
		margin-top: 30px;
	}
	.single-case-studies{
		.testimonial-section .autoplay-testimonials:before {
			top: -120px;
			left: 0;
		}
		.testimonial-section {
			margin-bottom: 20px !important;
		}
	}	
}

blockquote{
	white-space:nowrap
}

.clients-carousel .acr .slick-slider{
	padding-bottom: 0;
}

.accr {
	margin-bottom: 20px !important;
}

@include breakpoint(medium down) {
	.searchandfilter ul li li {
    padding: 0 !important;
	}
}