.reveal-overlay{
    background: transparent;
    #subscribe-modal{
        .material-icons{
            font-size:28px;
        }
        border-radius:10px;
        box-shadow: #000 0px 0px 8px;
        &:focus{
            outline: none;
        }
        .columns{
            padding: 0;
        }
        svg{
            fill: $pink;
        }
        .pink{
            color: $pink;
        }
        .close{
            cursor: pointer;
        }
        h3{
            font-family: 'museo-slab', serif;
            font-weight: 100;
            font-size:21px;
            line-height: 27px;
        }
        input[type="email"],input[type="text"]{
            border:none;
            box-shadow: none;
            border-bottom:1px solid #ADA59A;
            padding:0;
            margin: 10px 0;
            font-size:16px;
            font-weight: 400;
            font-family: 'futura-pt', serif;
        }
        select {
            padding: 0;
            border: none;
            width: 100%;
            color: #ADA59A;
            border-bottom: 1px solid #ADA59A;
            border-radius: 0 !important;
            padding: 0;
            -webkit-appearance: none;
            font-size:16px;
            margin: 16px 0;
            font-family: 'futura-pt', serif;
            background-position: right 10px center;
        }
        h6{
            font-size:16px;
            font-family: 'futura-pt', serif;
            font-weight:400;
        }
        p{
            font-size:16px;
            font-family: 'futura-pt', serif;
            font-weight:400;
        }
        label{
            font-size:16px;
            font-family: 'futura-pt', serif;
            font-weight:400;
            color: $purple;
        }
        .button{
            font-size:22px;
            font-family: 'futura-pt', serif;
            font-weight:400;
        }
    }
}

#mc_embed_signup{
    ul{
        list-style-type: none;
        padding:0;
        margin:0;
    }
    div#mce-success-response {
    text-align: center;
    font-size: 25px;
    color: #e61e63;
    font-weight: 600;
    font-family: 'futura-pt', serif;
    }
    .input-group {
        display: table;
        width: 100%;
        margin-bottom: 1rem;
        width: 100%;
    }
    #mc_embed_signup {
		  div.mce_inline_error {
		    margin: 0 0 1em 0;
		    padding: 5px 10px;
		    background-color: transparent;
		    font-family: 'futura-pt', sans-serif;
		    font-weight: 400;
		    z-index: 1;
		    color: #e61e63;
		    border-radius: 5px;
	    
	    }
	    input.mce_inline_error {
		    border-color: #e61e63;
		    &::placeholder {
			    color: #e61e63;
		    }
	    }
    }
}