.error404{
    .errorpage{
        h1{
            font-size: 440px;
            text-align: center;
            padding-top: 100px;
            padding-bottom: 0;
            margin-bottom: -150px;
        }
        h3{
            font-size:80px;
            text-align: center;
            text-transform: uppercase;
        }
        a{
            margin-left: auto;
            margin-right: auto;
            display: block;
            margin-bottom: 150px;
        }
    }
}