.single-post{

    .single-post-content 
    {
        span{
            color: #000 !important;
        }
    }

    .dropdown-tab .hidden-area label{
        float:left;
        @include breakpoint (medium down){
            font-size: 13px;
        }
        @include breakpoint (small down){
            font-size: 16px;
        }
    }

    .dropdown-tab .hidden-area input[type='checkbox']{
        @include breakpoint (medium down){
            width:20px;
            height: 20px;
        }
    }

    .dropdown-tab .hidden-area input{
        clear: both;
    }

    .dropdown-tab .hidden-area h6{
        padding: 0 0 15px 0;
    }

    .dropdown-tab .hidden-area p {
        margin-top: 15px;
        color: #7A776C;
        font-size: 18px;
        font-family: 'futura-pt', serif;
        width: 100%;
    }

    .dropdown-tab .hidden-area .button {
        margin-top: -20px;
    }

    .diff-padd{
        margin-bottom: 0;
    }

    .hidden-area{
        display: none;
    }

    .social-sharing.right {
        @include breakpoint(medium down) {
           display: none;
        } 
        position: fixed;
        right: 0px;
        box-shadow: #E4E4E4 1px 0px 4px 1px;
        width: 240px;
        text-align: left;
        padding: 25px 20px;
        background: #fff;
        z-index: 1000;
        border-radius: 3px;
        margin-top:75px;
        h4{
            color: #292B2D;
            font-size: 24px;
            font-weight: 100;
            font-family: 'museo-slab', serif;
        }
    }   

    .sfsi_wicons {
        margin-bottom: 30px;
        position: relative;
        padding-top: 5px;
        padding: 0;
        margin: 5px 20px 0 0 !important;
    }

    #showcon, #showsub{
        cursor: pointer;
    }

    .related-posts{
        h2{
            font-size: 36px;
            font-weight: 300;
            font-family: 'museo-slab', serif;
            margin-top: 25px;
        }
    }
}


